@model RabookShelf.Models.Book

@*@{
    ViewBag.Title = "Add";
}*@

<h2>Add</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    @Html.Label("Title", new { @class = "control-label" })
                    @Html.TextBox("Title", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("FirstName", new { @class = "control-label" })
                    @Html.TextBox("FirstName", null, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.Label("LastName", new { @class = "control-label" })
                    @Html.TextBox("LastName", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                   @Html.Label("BookSize", new { @class = "control-label" })
                   @Html.TextBox("BookSize", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Fiction", new { @class = "control-label" })
                    @Html.TextBox("Fiction", null, new { @class = "form-control" })
                </div>

            </div>

        </div>
        
        <div class="col-md-6">

            <div class="form-group">
                @Html.Label("Description", new { @class = "control-label" })
                @Html.TextArea("Description", null, 14, 20, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-pull-6">
                <input type="submit" value="Create" class="btn btn-default btn-success">
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
