@model RabookShelf.Models.Book

@{
    ViewBag.Title = "Add";

}


<h2>Add</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Book</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    @Html.LabelFor(b => b.Title, new { @class = "control-label" })
                    @Html.TextBoxFor(b => b.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(b => b.Author.FirstName, new { @class = "control-label" })
                    @Html.TextBoxFor(b => b.Author.FirstName, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(b => b.Author.LastName, new { @class = "control-label" })
                    @Html.TextBoxFor(b => b.Author.LastName, new { @class = "form-control" })
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(b => b.Genre, new { @class = "control-label" })
                    <div>
                        @Html.RadioButtonFor(b => b.Genre, "Fiction") Fiction
                        @Html.RadioButtonFor(b => b.Genre, "Fiction") Non-Fiction
                        @Html.RadioButtonFor(b => b.Genre, "Fiction") Fantasy
                    </div>
                </div>

            </div>

        </div>
        
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(b => b.Description, new { @class = "control-label" })
                @Html.TextAreaFor(b => b.Description, new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-pull-6">
                <input type="submit" value="Create" class="btn btn-default btn-success">
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
